html,
body {
   overflow: hidden;
   margin: 0;
   width: 100%;
   height: 100%;
}

.button {
   background-color: darkblue;
   position: absolute;
   border: none;
   color: white;
   top: 50vh;
   left: 41vw;
   width: 400px;
   height: 80px;
   text-align: center;
   font-size: 20px;
   border-radius: 8px;

   /* make it be clickable when hovering */
   cursor: pointer;
}

.video-game-button {
   background-color: darkblue;
   position: absolute;
   border: none;
   color: white;
   top: 50vh;
   left: 41vw;
   width: 150px;
   height: 80px;
   text-align: center;
   font-size: 20px;
   border-radius: 8px;

   /* make it be clickable when hovering */
   cursor: pointer;
}

#pause {
   background-color: darkblue;
   top: 2vh;
   left: 90vw;
   width: 100px;

}

#left {
   left: 18vw;
   bottom: 0;
}

#right {
   left: 72vw;
}