body {
    background-color: #bfd1e5;
    margin: 0;
    /* Remove default body margin */
    overflow: hidden;
    /* Prevent scrollbars */
}

#webgl-output {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

html,
body {
    overflow: hidden;
    margin: 0;
    width: 100%;
    height: 100%;
}

.button {
    background-color: darkblue;
    position: absolute;
    border: none;
    color: white;
    top: 50vh;
    left: 41vw;
    width: 400px;
    height: 80px;
    text-align: center;
    font-size: 20px;
    border-radius: 8px;

    /* make it be clickable when hovering */
    cursor: pointer;
}

.video-game-button {
    background-color: darkblue;
    position: absolute;
    border: none;
    color: white;
    top: 50vh;
    left: 41vw;
    width: 100px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    border-radius: 8px;
    user-select: none;
    /* make it be clickable when hovering */
    cursor: pointer;
}

#pause {
    background-color: darkblue;
    top: 2vh;
    left: 90vw;
    width: 100px;

}

#launch {
    left: 18vw;
    bottom: 0;
}

#fullscreen {
    left: 72vw;
}